<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head'); -%>
<body>
    <header>
        <%- include('include/header') -%>
    </header>
    <div class="container">
        <h1><%= title %></h1>
        <p><%= msg %></p>
    </div>
    <%- include('include/footer') -%>    
</body>
</html>